*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


header{
    background-image:url(../assets/banner-bk.jpg) ;
    font-size: 4vh;
    height:100%;
    align-items: center;
    color: #fff;
    display:flex;
    justify-content: center;
    gap: 12px;
    flex-direction: column;
   

}
#imagen{
    display: flex;
    position: absolute;
    width: 20vh;
    margin-right:950px;
    top: 60px;
}
header h1{
   font-size: 60px;
  padding-right: 99vh;

}
header #carlito{
    position: absolute;
  font-size: 2vh;
    margin-top: 120px;
    margin-right: 118vh;  
}
header #carla{
 
    font-family: 'Courier New', Courier, monospace;
    position:absolute;
    width: 19vh;
    padding-left: 160vh;
    top: 60px;
    font-size: 20px;
}
header .carmen{
 
    background-color: #6effb7;
    height: 25px;
    margin: 60px;
    margin-bottom: 5px;
    margin-right: 170vh;
    border-radius: 10px;;
    border: none;
}
h2{
margin-top: 20vh;
    text-align: center;
   font-size: 8vh;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.primis{
 display: flex;
margin-left:40vh ;
margin-right:30vh ;
text-align: center;
height: 90vh;
margin-top: 2vh;
  

}

p{
    width: 50vh;
}
.container{
    display:flex ;
    align-items: center;
    margin-left: 15%;
    
}
.container2{
    display:flex ;
    align-items: center;
    margin-left: 10%;
}
.img1{
  width: 70%;
}
.img2{
  width: 40%;
}
h3{
    font-size: 8vh;
    color: rgb(11, 16, 46);
   
}
#articulo{
    width: 80vh;
    margin-top: 3vh;
}

.juli{
    margin-top: 5vh;
   background-color: rgb(11, 16, 46);  
   color: #fff;
    padding: 2vh;
   padding-left:5vh;
   padding-right: 5vh;
   border-radius: 20px;
   border: none;
   

}

main{
    background:linear-gradient(168deg,rgb(255, 255, 255) 35%, rgb(52, 255, 170)0);
    
    
    
}


.emilio {
display: flex;
margin-left: 35vh;

}

.perri{
background-color: #ffffff;
border-radius: 10px;
padding: 20px;
text-align: center;
width: 250px;
}



.perri h2 {
color: #000000;
font-size: 24px;
margin-bottom: 10px;
}

.lulo {
font-size: 48px;
font-weight: bold;
color: #000000;
margin-bottom: 10px;
}

.perla {
font-size: 38px;
font-weight: bold;
color: #ffffff;
margin-bottom: 10px;
}



.perri ul {
list-style: none;
padding: 0;
margin-bottom: 20px;

}
.perri li:last-child {
    border-bottom: none;
}
.anlui ul {
list-style: none;
padding: 0;
margin-bottom: 20px;
color: #fff;
}

.anlui{
    background-color: #08192e;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    width: 250px;
  }

.anlui li:last-child {
border-bottom: none;
color: #fff;
}
#eda{
    color: #fff;
    font-size: 22px;
   margin-bottom: 10px;
}

.anlui button {
background-color: #00ffaa;
color: #000000;
border: none;
padding: 10px ;
border-radius: 20px;
cursor: pointer;
font-size: 16px;
}


.perri button {

color: #000000;
border: 1px solid rgb(11, 16, 46);
padding: 10px 20px;
border-radius: 20px;
cursor: pointer;
font-size: 16px;

}
.azura{
    display: flex;
    background-color: gainsboro;
    height: 30vh;
    margin-top: 10vh;

   
    
}
.azura img{
    margin-left: 77px;
    margin-top: 50px;
    
}
header{
   
    font-size: 2vh;
    height:100vh;
    align-items: center;
    color: #fff;
    display:flex;

}
.fercha{
    background-image:url(../assets/contact-bk.jpg) ;
    font-size: 3vh;
    height:100vh;
    align-items: center;
    color: #fff;
    display:flex;
    

   
}


  input[type="text"],
  input[type="email"],
  
  textarea {
    background-image:url(../assets/contact-bk.jpg) ;
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid #1a662b;
    border-radius: 3px;
 }
 
  

  .remi {
    background-color: #08ff45;
    color: rgb(0, 0, 0);
    padding: 12px 30vh;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
  }
form{
    margin-bottom: 24vh;
    margin-left: 23vh;
}
  .lola{
    color: #fff;
    margin-left: 20vh;
    margin-bottom: 24vh;
  }
  h6{
    font-size: 6vh;
    margin:2vh;
  }
  footer {
    height: 15vh;
    font-size: 3vh;
    background-color: #08192e;
    color: #fff;
   
   

    
    
  }
  .perto footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
       
    
  }
h5{
    margin:10vh;
    text-align: center;
   font-size: 8vh;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}

.fText{
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 20px;
  
}
label{
  color: #08ff45;
}

.textA{
  display:flex;
  flex-direction: column;
  width: 100%;
}

.textSuperior{
  display: flex;
  
}
.iconos{
 display: flex;
  margin-right: 150px;
}
.icono{
  margin-left: 150px;
}
.pajaro{
  display: flex;
  justify-content: space-between;
margin-right: 40px;
  
}



 @media screen and (max-width:1280px){
 header{
  width: auto;
 }
#imagen{

    width: 80px;
    margin-right:950px;
    top: 60px;
}
header #carlito{
  margin-right: 58%; 
  margin-bottom: 7%;


}
header .carmen{
  margin-right: 79%;
    
}
header h1{
  font-size: 260%; 
  margin-bottom:2%;
 padding-right:62%;
}
h2{
margin-left:3vh;
font-size: 5vh;
   
  }
.primis{
   margin-left:15% ;  
   
   }
   h6{
    font-size: 4vh;
    margin:2vh;
  }  
.container{
    margin-left:5%;
}  
.container2{
    margin-left:1%;
}
.img1{
  width: 80%;
  }  
.img2{
  width: 60%;

}  
h3{
  font-size: 6vh;
 
}
#articulo{
  width: 85%;
  margin-top: 3vh;
}
h5{
  margin-right:5vh;
 font-size: 5vh;

}
h2{
  margin-top: 8vh;
  margin-left: 7vh;
   
  }

.emilio {
    margin-left: 20%;
    }
 form{
       margin-left:10px
  }
  .iconos{
    display: flex;
    margin-right: 10vh;
  }
  .azura img{
    margin-left: 70px;
    margin-top: 25%;
    
}
header #carla{
 margin-right: 32vh;
  font-size: 20px;
}
 
 }
 @media screen and (max-width:1279px){
  header{
   width: auto;
  }
#imagen{
    margin-right:950px;
 
}
 header #carlito{
   margin-right: 58%; 
   margin-bottom: 7%;
 
 
 }
 header .carmen{
   margin-right: 79%;
     
 }
 header h1{
   font-size: 260%; 
   margin-bottom:2%;
  padding-right:62%;
 }
 h2{
 margin-left:3vh;
 font-size: 5vh;
    
   }
 .primis{
    margin-left:15% ;  
    
    }
    h6{
     font-size: 4vh;
     margin:2vh;
   }  
 .container{
     margin-left:5%;
 }  
 .container2{
     margin-left:1%;
 }
 .img1{
   width: 80%;
   }  
 .img2{
   width: 60%;
 
 }  
 h3{
   font-size: 6vh;
  
 }
 #articulo{
   width: 85%;
   margin-top: 3vh;
 }
 h5{
   margin-right:5vh;
  font-size: 5vh;
 
 }
 h2{
   margin-top: 8vh;
   margin-left: 7vh;
    
   }
 
 .emilio {
     margin-left: 20%;
     }
  form{
        margin-left:400px
   }
   .iconos{
     display: flex;
     margin-right: 5vh;
   }
   .azura img{
     margin-left: 70px;
     margin-top: 25%;
     
 }
 header #carla{
  margin-right: 32vh;
   font-size: 20px;
 }
  
  }
 
 @media screen and (max-width:991px){
  .azura img{
    margin-left: 25px;
    margin-top: 25%;
    
}
#imagen{

    width: 80px;
    margin-right:750px;
    top: 60px;
}
.emilio {
  margin-left: 10%;
  }
 }
 @media screen and (max-width:920px){
  #imagen{


    margin-right:710px;
  
}
  header #carla{
    margin-right: 72vh;
     font-size: 15px;
   }
   header #carlito{
    margin-right: 53%; 
    margin-bottom: 13%
  }
  header .carmen{
    margin-right: 83%;
      
  }

   .img2{
      width: 40%;
  }
 
 .azura img{
     margin-left: 23px;
     width: 60%;
     margin-top: 25%;
        
  }
 
 }
 @media screen and (max-width:769px){
  header #carla{
    margin-right: 72vh;
     font-size: 15px;
   }
     #imagen{
    margin-right:580px;
  
}
   header #carlito{
    margin-right: 53%; 
    margin-bottom: 13%
  }
  header .carmen{
    margin-right: 83%;
      
  }
  .primis{
    margin-left:3% ;  
    
    }
   .img2{
      width: 40%;
  }
 .emilio {
      margin-left: 1%;
  }
 .azura img{
     margin-left: 23px;
     width: 60%;
     margin-top: 25%;
        
  }
  .lola{
   margin-left: 7px;
   
 
  }
  form{
    margin-left:10px;
  
}
 }
 @media screen and (max-width:768px){
  form{
    margin-left:5px;
}
.emilio{
  
    flex-direction: column;
    align-items: center;

}

 }
 @media screen and (max-width:481px){
    #imagen{


    margin-right:310px;
  
}
  .primis{
      flex-direction: column;
      align-items: center; 
    margin-left: 200px;
  
  }
  header #carla{
    margin-right: 100vh;
     font-size: 15px;
   }
  .container{
    margin-top: 100%;
  }
  .fercha{
      flex-direction: column;
  }
  .azura img{
    margin-left:12%;
    width: 40%;
    margin-top: 15%;
       
 }
.icono{
  font-size: 70%;
  margin-left: 20px;
}
form{
  width: 70%;
  margin-right: 5%;
}
header h1{
  font-size: 200%; 
 padding-right:45%;
}
header #carlito{
  margin-right: 20%; 

} 
.remi {
 
  padding: 5px 5vh;
position: relative;
left:76%;
}

    
    
 }
 @media screen and (max-width:480px){
    #imagen{


    margin-right:240px;
  
}
  .primis{
      flex-direction: column;
      align-items: center;
      margin-left: 600px;
       
       
  
  }
  .container{
    margin-top: 150%;
  }
  form{
   width: 80%;
}
.icono{
  font-size: 70%;
  margin-left: 20px;
}
.remi {
 
  padding: 5px 5vh;
position: relative;
left:60%;
}
header h1{
  font-size: 200%; 
 padding-right:45%;
}
header #carlito{
  margin-right: 20%; 

}    
    
 }

 @media screen and (max-width:480px){
 header #carla{
  margin-right: 700px;
 
 }
 .primis{
 margin-left: 150px;

}
header #carlito{
  margin-right: 15%; 

} 
}